.container {
  margin: 20px;
}
/* .example-container {
  float: right;
} */
.addBtn {
  margin-left: 15px;
}
mat-grid-tile {
  background: lightblue;
}
.example-card {
  max-width: 100%;
  text-align: left;
}

/* mat-card{
  width: fit-content;
} */