<div class="container-fluid">
  <div class="d-flex justify-content-end">
    <mat-form-field>
      <mat-label>Search Candidate</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <button mat-mini-fab color="primary" class="addBtn" (click)="addCandidate()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="container">
  <div class="row">
      <mat-card class="example-card mr-4 mt-4" *ngFor="let data of candidateData" [ngStyle]="{'background-color': data.status === 'Selected' ? '#7DCEA0' : data.status === 'Rejected' ? '#F1948A' : ''}">
        <mat-card-header style="text-align: center;">
          <mat-card-title>{{data.candidateName + ' (' + data.gender + ')'}}</mat-card-title>
          <mat-card-subtitle>{{data.city}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><b>Status: {{data.status}}</b></p>
          <mat-chip-list aria-label="Fish selection" *ngFor="let skill of data.skills">
            <mat-chip class="row">{{skill.value}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="data.status === 'Rejected'" (click)="selectedCandidate(data)">Select</button>
          <button mat-raised-button color="warn" [disabled]="data.status === 'Selected'" (click)="rejectedCandidate(data)">Reject</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
